---
slug: trend-vision-one-domain-verification
title: Domain Verification
---

Verify your organization's domain ownership with Trend Micro to meet configuration requirements or streamline app functions.

:::note
You must have the correct permissions in order to use the feature.

Only customers that have updated to the [Foundation Services release](update-foundation-services-release.md) have access to the feature.
:::

The **Domain Verification** screen (**Administration → Domain Verification** allows you to verify the ownership of your organizations' domains in a centralized location. Domain verification is required for the function of several Trend Vision One apps.

The following table outlines the apps and services in Trend Vision One that require domain verification.

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr>
<th><p>App</p></th>
<th>Feature Requiring Domain Verification</th>
</tr>
</thead>
<tbody>
<tr>
<td><p><strong>Administration</strong></p></td>
<td><ul>
<li><p><strong>User Accounts</strong></p>
<ul>
<li>Allows for the addition of new SAML user accounts by email address without the user having to explicitly accept an invitation</li>
</ul></li>
</ul></td>
</tr>
<tr>
<td><strong>Zero Trust Secure Access</strong></td>
<td><ul>
<li><p><strong>Identity and Access Management</strong></p>
<ul>
<li>Required to ensure end users are directed to the correct identity provider sign-in portal</li>
</ul></li>
</ul></td>
</tr>
<tr>
<td><strong>Assessment</strong></td>
<td><ul>
<li><p><strong>Phishing Simulation Assessment</strong></p>
<ul>
<li>Required to confirm permission to send out more than five phishing assessment emails</li>
</ul></li>
</ul></td>
</tr>
</tbody>
</table>

**Related information**

- [Adding and managing domains](adding-managing-domains.md "Add, verify, or delete domains to be used across the entire Trend Vision One platform.")
